<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <div class="container">
      <h1>CONTACTS</h1>
      <p>E-mail: r.sabirov@innopolis.ru</p>
      <p>Telegram: @russab0</p>
      <a href="index">Main page</a>
    </div>
  </body>
</html>