<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 900px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <div class="container">
      <h1>MAIN</h1>
      <p>Site is very cool</p>
      <p>The best site</p>
      <a href="contacts">Contacts</a>
      <br>
      <img src="screen1.png" style="width:100%"/>
    </div>
  </body>
</html>